
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<body>
    <div id="page-wrapper" style="min-height: 653px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="text-align:center;">Trang chủ Admin</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                <svg height="348" version="1.1" width="562" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.600006px; top: -0.337494px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="49.212501525878906" y="315.3999996185303" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.39998722076416" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.712501525878906,315.3999996185303H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.212501525878906" y="242.7999997138977" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.399993419647217" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.712501525878906,242.7999997138977H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.212501525878906" y="170.19999980926514" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.399999618530273" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.712501525878906,170.19999980926514H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.212501525878906" y="97.59999990463257" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.399998188018799" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.712501525878906,97.59999990463257H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="49.212501525878906" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4.399999618530273" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan></text><path fill="none" stroke="#aaaaaa" d="M61.712501525878906,25H537" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="449.219076831025" y="327.8999996185303" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.8)"><tspan dy="4.39998722076416" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="238.42936001078905" y="327.8999996185303" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,6.8)"><tspan dy="4.39998722076416" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan></text><path fill="#7cb47c" stroke="none" d="M61.712501525878906,263.97015968608855C74.99514121592117,258.64615969308215,101.56042059600571,247.5976497075955,114.84306028604797,242.67415971406302C128.12569997609023,237.75066972053054,154.69097935617478,231.32227033006774,167.97361904621704,224.58223973782856C181.11188221788927,217.91547034767893,207.38840856123375,191.03623989239188,220.52667173290598,189.04695978450775C233.52055838620822,187.0795398975894,259.50833169281265,207.3086254748049,272.5022183461149,208.75543975861865C285.7848580361572,210.2344054709616,312.35013741624164,199.76513977042833,325.6327771062839,200.75007976913452C338.9154167963262,201.7350197678407,365.4806961764107,234.11889109142143,378.76333586645296,216.63495974826813C391.9015990381252,199.34107113710562,418.1781253814697,70.07491994078953,431.31638855314196,61.63879995187122C444.4546517248142,53.20267996295292,470.73117806815867,136.77637482584802,483.8694412398309,149.14599983692167C497.1520809298732,161.65155479317198,523.7173603099577,158.14113982510565,537,161.139519821167L537,315.3999996185303L61.712501525878906,315.3999996185303Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#4da74d" d="M61.712501525878906,263.97015968608855C74.99514121592117,258.64615969308215,101.56042059600571,247.5976497075955,114.84306028604797,242.67415971406302C128.12569997609023,237.75066972053054,154.69097935617478,231.32227033006774,167.97361904621704,224.58223973782856C181.11188221788927,217.91547034767893,207.38840856123375,191.03623989239188,220.52667173290598,189.04695978450775C233.52055838620822,187.0795398975894,259.50833169281265,207.3086254748049,272.5022183461149,208.75543975861865C285.7848580361572,210.2344054709616,312.35013741624164,199.76513977042833,325.6327771062839,200.75007976913452C338.9154167963262,201.7350197678407,365.4806961764107,234.11889109142143,378.76333586645296,216.63495974826813C391.9015990381252,199.34107113710562,418.1781253814697,70.07491994078953,431.31638855314196,61.63879995187122C444.4546517248142,53.20267996295292,470.73117806815867,136.77637482584802,483.8694412398309,149.14599983692167C497.1520809298732,161.65155479317198,523.7173603099577,158.14113982510565,537,161.139519821167" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="61.712501525878906" cy="263.97015968608855" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="114.84306028604797" cy="242.67415971406302" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="167.97361904621704" cy="224.58223973782856" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="220.52667173290598" cy="189.04695978450775" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="272.5022183461149" cy="208.75543975861865" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="325.6327771062839" cy="200.75007976913452" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="378.76333586645296" cy="216.63495974826813" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="431.31638855314196" cy="61.63879995187122" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="483.8694412398309" cy="149.14599983692167" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="537" cy="161.139519821167" r="2" fill="#4da74d" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#a7b3bc" stroke="none" d="M61.712501525878906,289.59311965243023C74.99514121592117,283.7705996600787,101.56042059600571,271.40318967632453,114.84306028604797,266.3030396830241C128.12569997609023,261.2028896897237,154.69097935617478,251.58039445646213,167.97361904621704,248.7919197060267C181.11188221788927,246.03375446374818,207.38840856123375,246.3588303169576,220.52667173290598,244.11647971216837C233.52055838620822,241.89877032281635,259.50833169281265,234.06191159350792,272.5022183461149,230.95167972946166C285.7848580361572,227.77233160176993,312.35013741624164,218.82626974538962,325.6327771062839,218.95815974521636C338.9154167963262,219.0900497450431,365.4806961764107,245.48321107649323,378.76333586645296,232.00679972807566C391.9015990381252,218.67687111170608,418.1781253814697,119.63651987568538,431.31638855314196,111.73279988606771C444.4546517248142,103.82907989645005,470.73117806815867,160.47967971274414,483.8694412398309,168.77703981113433C497.1520809298732,177.16557969082552,523.7173603099577,176.05155980157852,537,178.47639979839326L537,315.3999996185303L61.712501525878906,315.3999996185303Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#7a92a3" d="M61.712501525878906,289.59311965243023C74.99514121592117,283.7705996600787,101.56042059600571,271.40318967632453,114.84306028604797,266.3030396830241C128.12569997609023,261.2028896897237,154.69097935617478,251.58039445646213,167.97361904621704,248.7919197060267C181.11188221788927,246.03375446374818,207.38840856123375,246.3588303169576,220.52667173290598,244.11647971216837C233.52055838620822,241.89877032281635,259.50833169281265,234.06191159350792,272.5022183461149,230.95167972946166C285.7848580361572,227.77233160176993,312.35013741624164,218.82626974538962,325.6327771062839,218.95815974521636C338.9154167963262,219.0900497450431,365.4806961764107,245.48321107649323,378.76333586645296,232.00679972807566C391.9015990381252,218.67687111170608,418.1781253814697,119.63651987568538,431.31638855314196,111.73279988606771C444.4546517248142,103.82907989645005,470.73117806815867,160.47967971274414,483.8694412398309,168.77703981113433C497.1520809298732,177.16557969082552,523.7173603099577,176.05155980157852,537,178.47639979839326" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="61.712501525878906" cy="289.59311965243023" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="114.84306028604797" cy="266.3030396830241" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="167.97361904621704" cy="248.7919197060267" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="220.52667173290598" cy="244.11647971216837" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="272.5022183461149" cy="230.95167972946166" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="325.6327771062839" cy="218.95815974521636" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="378.76333586645296" cy="232.00679972807566" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="431.31638855314196" cy="111.73279988606771" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="483.8694412398309" cy="168.77703981113433" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="537" cy="178.47639979839326" r="2" fill="#7a92a3" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><path fill="#2577b5" stroke="none" d="M61.712501525878906,289.59311965243023C74.99514121592117,289.3220796527863,101.56042059600571,291.2266196502845,114.84306028604797,288.5089596538544C128.12569997609023,285.7912996574243,154.69097935617478,269.05506896902654,167.97361904621704,267.8518396809896C181.11188221788927,266.66168897217045,207.38840856123375,281.24470795068953,220.52667173290598,278.93543966643017C233.52055838620822,276.6515479567231,259.50833169281265,251.75652607575879,272.5022183461149,249.4791997051239C285.7848580361572,247.15126608180825,312.35013741624164,258.1064996937911,325.6327771062839,260.51439969062807C338.9154167963262,262.92229968746506,365.4806961764107,280.1822025063225,378.76333586645296,268.74239967981975C391.9015990381252,257.4269425362138,418.1781253814697,176.59242980086802,431.31638855314196,169.49335981019337C444.4546517248142,162.39428981951872,470.73117806815867,203.95814020207888,483.8694412398309,211.9498397544225C497.1520809298732,220.0293601809677,523.7173603099577,228.32113973291712,537,233.77823972574868L537,315.3999996185303L61.712501525878906,315.3999996185303Z" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path><path fill="none" stroke="#0b62a4" d="M61.712501525878906,289.59311965243023C74.99514121592117,289.3220796527863,101.56042059600571,291.2266196502845,114.84306028604797,288.5089596538544C128.12569997609023,285.7912996574243,154.69097935617478,269.05506896902654,167.97361904621704,267.8518396809896C181.11188221788927,266.66168897217045,207.38840856123375,281.24470795068953,220.52667173290598,278.93543966643017C233.52055838620822,276.6515479567231,259.50833169281265,251.75652607575879,272.5022183461149,249.4791997051239C285.7848580361572,247.15126608180825,312.35013741624164,258.1064996937911,325.6327771062839,260.51439969062807C338.9154167963262,262.92229968746506,365.4806961764107,280.1822025063225,378.76333586645296,268.74239967981975C391.9015990381252,257.4269425362138,418.1781253814697,176.59242980086802,431.31638855314196,169.49335981019337C444.4546517248142,162.39428981951872,470.73117806815867,203.95814020207888,483.8694412398309,211.9498397544225C497.1520809298732,220.0293601809677,523.7173603099577,228.32113973291712,537,233.77823972574868" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="61.712501525878906" cy="289.59311965243023" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="114.84306028604797" cy="288.5089596538544" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="167.97361904621704" cy="267.8518396809896" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="220.52667173290598" cy="278.93543966643017" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="272.5022183461149" cy="249.4791997051239" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="325.6327771062839" cy="260.51439969062807" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="378.76333586645296" cy="268.74239967981975" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="431.31638855314196" cy="169.49335981019337" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="483.8694412398309" cy="211.9498397544225" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="537" cy="233.77823972574868" r="2" fill="#0b62a4" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 222.833px; top: 170px; display: none;">
                                    <div class="morris-hover-row-label">2010 Q4</div><div class="morris-hover-point" style="color: #0b62a4">
                                        iPhone:
                                        3,767
                                    </div><div class="morris-hover-point" style="color: #7A92A3">
                                        iPad:
                                        3,597
                                    </div><div class="morris-hover-point" style="color: #4da74d">
                                        iPod Touch:
                                        5,689
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>

                                            <p>
                                                <small class="text-muted">
                                                    <i class="fa fa-clock-o"></i> 11 hours ago via
                                                    Twitter
                                                </small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero
                                                laboriosam
                                                dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est
                                                cum
                                                veniam excepturi. Maiores praesentium, porro voluptas suscipit facere
                                                rem
                                                dicta, debitis.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem
                                                quibusdam, tenetur commodi provident cumque magni voluptatem libero,
                                                quis
                                                rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia
                                                repellendus.
                                            </p>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
                                                maiores
                                                odit qui est tempora eos, nostrum provident explicabo dignissimos
                                                debitis
                                                vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger">
                                        <i class="fa fa-bomb"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus
                                                numquam
                                                facilis enim eaque, tenetur nam id qui vel velit similique nihil iure
                                                molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est
                                                quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias
                                                sapiente
                                                rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut
                                                debitis!
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge info">
                                        <i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus
                                                modi
                                                quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam
                                                debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.
                                            </p>
                                            <hr>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fa fa-gear"></i> <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Action</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Another action</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Something else here</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#">Separated link</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio
                                                quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam.
                                                Officia
                                                quam qui adipisci quas consequuntur nostrum sequi. Consequuntur,
                                                commodi.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge success">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Lorem ipsum dolor</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
                                                obcaecati,
                                                quaerat tempore officia voluptas debitis consectetur culpa amet,
                                                accusamus
                                                dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque
                                                eaque.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">
                                        <em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">
                                        <em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">
                                        <em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">
                                        <em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">
                                        <em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small">
                                        <em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small">
                                        <em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small">
                                        <em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small">
                                        <em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-refresh fa-fw"></i> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://via.placeholder.com/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>

                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                            ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://via.placeholder.com/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                    </span>

                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago
                                            </small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                            ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://via.placeholder.com/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                                    </span>

                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                            ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://via.placeholder.com/50/FA6F57/fff" alt="User Avatar" class="img-circle">
                                    </span>

                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                                            </small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                            ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</body>