
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<head>
    <body style="margin-top: 56px;">
      
        <div style="background-color: antiquewhite;">
            <h1 class="entry-title" style="text-align: center;"><strong>Giới Thiệu</strong></h1>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" style="text-align: center; ">
                <div class="fb-like fb_iframe_widget" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=1298678376818982&amp;container_width=0&amp;href=https%3A%2F%2Fwww.dammio.com%2Fabout&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: bottom; width: 450px; height: 28px;"><iframe name="f3a5526601570a4" width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v7.0/plugins/like.php?action=like&amp;app_id=1298678376818982&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df274882a8a23a08%26domain%3Dwww.dammio.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.dammio.com%252Ff37c17117e2bad4%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.dammio.com%2Fabout&amp;layout=standard&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" style="border: none; visibility: visible; width: 450px; height: 28px;" class=""></iframe></span></div>
            </div>

            <div style="margin-left:15%; margin-right:15%; align-content: center;">

                <h2>Mục đích của trang web</h2>
                <p>Trước hết, mục đích website là cung cấp những sản phẩm thân thiện với môi trường đến cho tất cả mọi người.Góp phần chung tay bảo vệ môi trường xanh-sạch-đẹp.</p>
                <p>
                    Túi giấy tái chế, ống hút giấy thân thiện với môi trường, và tô giấy là những sản phẩm tiêu biểu trong danh mục "Giới thiệu sản phẩm" của chúng tôi. Với mục tiêu bảo vệ môi trường và giảm lượng rác thải nhựa, chúng tôi đã sử dụng các nguyên liệu thân thiện như giấy tái chế để sản xuất túi giấy và ống hút.
                </p>
                <p>
                    Túi giấy tái chế của chúng tôi không chỉ góp phần giảm thiểu sự sử dụng túi nhựa một lần, mà còn có độ bền cao và có thể tái sử dụng nhiều lần. Ống hút giấy của chúng tôi cũng là một sự thay thế hoàn hảo cho ống hút nhựa, giúp ngăn chặn việc phá hủy môi trường biển.
                    <br />
                    Ngoài ra, chúng tôi còn mang đến sự sáng tạo với tô giấy. Không chỉ là một sản phẩm thực tế và thân thiện môi trường, tô giấy còn làm tăng giá trị thẩm mỹ và sự trải nghiệm của món ăn.
                </p>
                <p>
                    Với những sản phẩm thân thiện với môi trường như túi giấy tái chế, ống hút giấy, và tô giấy, chúng tôi tự hào là đồng đội đáng tin cậy cho việc bảo vệ môi trường và tạo ra một tương lai tốt đẹp hơn. Hãy lựa chọn sản phẩm của chúng tôi và cùng chung tay xây dựng một thế giới sạch hơn.
                </p>

                <style>
                    .hr::after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #999;
                        margin: 20px auto; /* Canh giữa theo chiều ngang và thêm khoảng cách dưới */
                        clear: both; /* Đảm bảo "clear both" */
                    }
                </style>
                <div class="hr">
                </div>
                <h2>Bản quyền</h2>
                <p>
                    Trang web cho phép tái sử dụng, chỉnh sửa và phân phối nội dung chỉ với mục đích nghiên cứu và giáo dục. Xin các bạn vui lòng ghi rõ nguồn trang web ghi lấy nội dung từ trang này.
                </p>
                <p>
                    Chúng tôi tuyệt đối không cấp phép nội dung trang web vì các mục đích khác.
                </p>
                <p>
                    Chúng tôi có sử dụng 1 vài bài viết hay từ các trang web khác để chia sẻ kiến thức này đến với mọi người. Chúng tôi luôn trích nguồn đầy đủ được lấy từ những website này. Nếu chủ nhân các trang web này không muốn chúng tôi đăng tải nội dung đó xin cảm phiền gửi lại lời nhắn với chúng tôi.
                </p>
                <style>
                    .hr::after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #999;
                        margin: 20px auto; /* Canh giữa theo chiều ngang và thêm khoảng cách dưới */
                        clear: both; /* Đảm bảo "clear both" */
                    }
                </style>
                <div class="hr">
                </div>
                <h2>Vấn đề cá nhân</h2>
                <p>
                    Trang web này không lưu trữ thông tin cá nhân nhạy cảm của người sử dụng cũng như không hỏi hoặc yêu cầu các thông tin này trừ khi chúng tôi cần thông tin đó cho việc khảo sát, nghiên cứu hoặc liên hệ.
                </p>
                <p>
                    Trang web có dùng cookie để ghi lại thông tin user như địa chỉ IP, phiên bản trình duyệt, khu vực, … chỉ nhằm mục đích theo dõi và nâng cao chất lượng trang web.
                </p>
                <style>
                    .hr::after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #999;
                        margin: 20px auto; /* Canh giữa theo chiều ngang và thêm khoảng cách dưới */
                        clear: both; /* Đảm bảo "clear both" */
                    }
                </style>
                <div class="hr">
                </div>
                <h2>Liên kết ngoài</h2>
                <p>
                    Chúng tôi không chịu trách nhiệm bất cứ nội dung gì được liên kết đến và đi bên ngoài trang web này. Về các nội dung các bài viết tiếp thị, chúng tôi bảo đảm độ chính xác, trung lập và khách quan dựa trên các nguồn uy tín.
                </p>
                <style>
                    .hr::after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #999;
                        margin: 20px auto; /* Canh giữa theo chiều ngang và thêm khoảng cách dưới */
                        clear: both; /* Đảm bảo "clear both" */
                    }
                </style>
                <div class="hr">
                </div>
                <h2>Thông tin liên hệ</h2>
                <p>

                    <a target="_blank" href="https://www.facebook.com/phatcao.deptry">
                        <i class="fa fa-facebook-square" aria-hidden="true"> &nbsp; <strong>FaceBook</strong></i>
                    </a>

                </p>
            </div>
            <div class="fb-background-color">
                <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" data-href="https://www.dammio.com/about" data-numposts="10" data-lazy="true" data-colorscheme="light" data-order-by="social" data-mobile="true" style="width: 100%;" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=1298678376818982&amp;color_scheme=light&amp;container_width=715&amp;height=100&amp;href=https%3A%2F%2Fwww.dammio.com%2Fabout&amp;lazy=true&amp;locale=en_US&amp;mobile=true&amp;numposts=10&amp;order_by=social&amp;sdk=joey&amp;version=v7.0&amp;width="><span style="vertical-align: bottom; width: 100%; height: 365px;"><iframe name="f2d1719bdcd53bc" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" loading="lazy" src="https://www.facebook.com/v7.0/plugins/comments.php?app_id=1298678376818982&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1e0e9f9792193%26domain%3Dwww.dammio.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.dammio.com%252Ff37c17117e2bad4%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=715&amp;height=100&amp;href=https%3A%2F%2Fwww.dammio.com%2Fabout&amp;lazy=true&amp;locale=en_US&amp;mobile=true&amp;numposts=10&amp;order_by=social&amp;sdk=joey&amp;version=v7.0&amp;width=" style="border: none; width: 100%; height: 365px; visibility: visible;" class=""></iframe></span></div>
            </div>
        </div>
    </body>
</head>
